*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --wht: #F8F0E5;
    --pink: rgb(240, 95, 95);
    --blue: #102C57;
    --org: #DAC0A3;
}

body{
    background-color: var(--wht);
}

header{
    padding: 0 80px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--org);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.name{
    margin-left: 10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--blue);
}

nav a{
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    color: var(--blue);
}

nav a:hover{
    color: var(--pink);
}

.icon{
    display: flex;
    text-align: center;
}

.icon a{
    color: var(--blue);
    cursor: pointer;
    background-color: var(--wht);
    border-radius: 3px;
    width:25px;
    height: 20px;
    margin: 15px 5px;
    font-size: 18px;
    padding: 5px;
}

.icon a:hover{
    background-color: var(--pink);
}

input[type="text"]{
    width: 200px;
    height: 20px;
    margin: 15px 0px;
    border-radius: 3px;
    border: none;
    background-color: var(--wht);
    padding: 5px;
}

header .cart{
    position: absolute;
    top:110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow:#000;
    width: 30rem;
    background-color: var(--org);
    max-height: 500px;
    overflow-y: auto;
}

header .cart.active{
    right: 1rem;
    transition: .4s linear;
}

header .cart .bbox{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

header .cart .bbox img{
    height: auto;
    width: 8rem;
}

header .cart .bbox .fa-trash{
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
    right: 2px;
    cursor: pointer;
    color: var(--blue);
    transform: translate(-50%);
}

header .cart .bbox .fa-trash:hover{
    color: var(--pink);
}

header .cart .bbox .content h3{
    color: var(--blue);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

header .cart .bbox .content span{
    color: var(--blue);
    font-size: 1.6rem;
}

header .cart .bbox .content .quantity{
    padding-left: 1rem;
}
/* 
need to check */
.cart .cartfooter{
    position: absolute;
}

header .profile{
    position: absolute;
    top:110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow:#000;
    width: 30rem;
    background-color: var(--org);
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--blue);
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link i{
    font-size: 30px;
    width: 40px;
    margin: 0 25px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.hr{
    margin: 10px 0;
    background-color: var(--blue);
    height: 1px;
    width: 100%;
}

.pf{
    display: flex;
    align-items: center;
}

.pf h2{
    margin-left: 10px;
    font-weight: 500;
}

.profile img{
    width: 150px;
    border-radius: 50%;
}

header .profile.active{
    right: 1rem;
    transition: .4s linear;
}

.cart-quantity{
    width: 30px;
}

header .cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--blue);
}

header .cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--blue);
    color: var(--blue);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--pink);
    color: var(--wht);
}

.home{
    margin-top: 90px;
    display: flex;
    border-bottom: 5px dotted var(--org);
}

.home p{
    font-size: 0.7in;
    font-weight: bolder;
    margin: 200px 70px;
    color: var(--blue);
}

.cata{
    text-align: center;
    color: var(--org);
    padding: 1rem;
    font-size: 3.5rem;
}

.cata span{
    color: var(--blue);
}

.container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.b{
    width: 1350px;
    height: 100%;
    background-color:var(--org);
    margin: 30px 0;
    border-radius: 10px;
    padding-bottom: 10px;
}

.product{
    color: var(--blue);
    margin-top: 20px;
    margin-left: 30px;
    font-size: larger;
    font-weight: bolder;
}

.crop{
    background-color: var(--org);
}

.box{
    display: flex;
    flex-wrap: wrap;
}

.subbox{
    width: 270px;
    height: 300px;
    margin: 31px;
    border-radius: 5px;
    color: var(--blue);
    background-color: var(--wht);
    box-shadow: 10px 10px rgb(114, 112, 112);
    text-align: center;
}

.bb{
    padding: 5px;
    width: 390px;
    height: 300px;
    margin: 50px;
    border-radius: 5px;
    color: var(--blue);
    background-color: var(--wht);
    box-shadow: 10px 10px rgb(114, 112, 112);
    text-align: center;
    border: 1px solid #000;
    font-weight: bold;
}

.shop{
    margin: 8px;
    width: 80%;
    height: 40px;
    font-size: 20px;
    background-color: var(--wht);
    cursor: pointer;
    border-radius: 5px;
}

.shop:hover{
    background-color: var(--pink);
}

.bb:hover{
    transform: translateY(-5px);
}

.bb img{
    margin: 10px;
    width: 175px;
    height: 150px;
    border-radius: 5px;
}

.subbox:hover{
    transform: translateY(-5px);
}

.sm{
    padding: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 1230px;
    background-color:var(--wht);
    color: var(--blue);
    font-weight: bold;
}

.sm:hover{
    cursor: pointer;
    background-color: var(--pink);
}

.subbox img{
    margin: 10px;
    width: 175px;
    height: 150px;
    border-radius: 5px;
}

.pn{
    font-weight: bolder;
    margin-bottom: 10px;
}

.pr{
    font-weight: bold;
    margin-bottom: 10px;
}

.subbox .add{
    border-radius: 5px;
   padding: 5px 10px;
}

.subbox .add:hover{
    cursor: pointer;
    background-color: var(--pink);
}

  .review .review-slider{
    padding: 1rem;
    display: flex;
  }

  .review .heading{
    text-align: center;
    color: var(--org);
    padding: 1rem;
    font-size: 3.5rem;
  }

  .review .heading span{
    color: var(--blue);
  }

  .review .review-slider .rbox{
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset:  -1rem;
    outline: #000;
    box-shadow: #F8F0E5;
    transition: .2s linear;
    width: 300px;
    margin: 15px;
  }

  .review .review-slider .rbox:hover{
    outline: #102C57;
    outline-offset: 0rem;
  }

  .review .review-slider .rbox img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }

  .review .review-slider .rbox p{
    padding: 1rem 0;
    line-height: 1.8;
    color: #000;
    font-size: 1rem;
  }

  .review .review-slider .rbox h3{
    padding-bottom: .5rem;
    color: #000;
    font-size: 2.2rem;
  }

  .review .review-slider .rbox .stars i{
    color: gold;
    font-size: 1.7rem;
  }

.contant{
    background-color: var(--org);
}

.contant .box-container{
    display: flex;
}

.contant .box-container .box{
    text-align: center;
    width: 400px;
    margin: 30px 50px;  
}

.contant .box-container .box h3{
    font-size: 45px;
    color: var(--blue);
}

.contant .box-container .box a{
    margin: 8px 0;
}

.contant .box-container .box .team{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.contant .box-container .box .team a{
    color: #000;
}

.contant .box-container .box .share{
    align-items: center;
    margin-left: 40px;
    width: 200px;
}

.contant .box-container .box .share a{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--wht);
    padding-top: 10px;
}

.contant .box-container .box .share a:hover{
    background-color: var(--pink);
}

.fas{
    color: var(--blue);
    font-size: 20px;
    margin: auto 10px;
}

.email{
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.sub{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}

.sub:hover{
    background-color: var(--pink);
    cursor: pointer;;
}